<mat-card class="mat-card-top chat-app cardWithShadow">
  <mat-sidenav-container [ngClass]="{  'side-panel-opened': sidePanelOpened,  'side-panel-closed': !sidePanelOpened}">
    <!-- ---------------------------------------------------- -->
    <!-- sidebar -->
    <!-- ---------------------------------------------------- -->
    <mat-sidenav class="chats" #chatnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (open)="sidePanelOpened = true"
      (close)="sidePanelOpened = false">
      <div class="p-x-24" style="position: sticky; top: 5px; z-index: 10; background: white;">
        <!-- Message, Notification, Conversation Buttons -->
        <mat-card class="cardWithShadow" style="margin-bottom: 0px; "> 
          <div class="row justify-content-start">
            <button mat-icon-button class="col-sm-6 col-lg-3 offset-lg-1" [ngClass]="{'selected': isSelected('SMS')}" (click)="updateMessages('SMS')">
              <i-tabler name="message" class="icon-18 m-r-4"></i-tabler>
            </button>
            <button mat-icon-button class="col-sm-6 col-lg-3" [ngClass]="{'selected': isSelected('notifications')}" (click)="updateMessages('notifications')">
              <i-tabler name="bell" class="icon-18 m-r-4"></i-tabler>
            </button>
            <button mat-icon-button class="col-sm-6 col-lg-3" [ngClass]="{'selected': isSelected('conversation')}" (click)="updateMessages('conversation')">
              <i-tabler name="messages" class="icon-18 m-r-4"></i-tabler>
            </button>
          </div> 
        </mat-card>

        <!-- Search Bar -->
        <mat-card class="cardWithShadow" style="height: 75px; padding: 0; margin-top: 1px;">
          <mat-card-content style="height: 100%; display: flex; align-items: center;" >
            <div class="row justify-content-between w-100">
              <div class="col-sm-6 col-lg-4 ">
                <mat-form-field appearance="outline" class="hide-hint" style="width: 250px;">
                  <input matInput placeholder="Search Tickets" />
                  <mat-icon matSuffix>
                    <i-tabler name="search" class="icon-20"></i-tabler>
                  </mat-icon>
                </mat-form-field>
              </div>
              
              <div class="col-sm-6 col-lg-4 d-flex align-items-center justify-content-end">
                <button mat-icon-button>
                  <i-tabler name="pencil-plus" class="icon-20"></i-tabler> 
                </button>
                <button mat-icon-button>
                  <i-tabler name="filter" class="icon-20"></i-tabler> 
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
 
      <ng-scrollbar class="position-relative" style="height: calc(100% - 160px);">
       

        <mat-nav-list class="chat-listing">
          @for(message of messages; track message.photo) {
          <mat-list-item role="listitem" (click)="onSelect(message)"
            [class.bg-light-primary]="message === selectedMessage" lines="2">
            <div class="d-flex align-items-center p-x-16 p-b-4 h-100" matListItemTitle>
              <img src="{{ message.photo }}" alt="" width="42" class="rounded-circle" />
              <div class="m-l-16">
                <h3 class="f-w-600 mat-subtitle-1 f-s-16 lh-sm">
                  {{ message.from }}
                </h3>
                <p class="f-s-14 m-t-4 m-b-0">{{ message.subject }}</p>
              </div>
            </div>
          </mat-list-item>
          }
        </mat-nav-list>
      </ng-scrollbar>
    </mat-sidenav>
    <!-- ------------------------------------------- -->
    <!-- details -->
    <!-- ------------------------------------------- -->
    <mat-toolbar class="no-shadow chat-right-panel bg-white d-flex align-items-center p-y-8 b-b-1">
      <button (click)="chatnav.toggle()" class="m-r-10" mat-icon-button>
        <mat-icon>short_text</mat-icon>
      </button>
      <div class="d-flex align-items-center">
        <img src="{{ selectedMessage.photo }}" width="40" class="rounded-circle" />
        <div class="mat-subtitle-1 f-s-16 f-w-600 m-b-0 m-l-16">
          {{ selectedMessage.from }}
        </div>
      </div> 
      <button [matMenuTriggerFor]="moredd" class="m-l-auto" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moredd="matMenu" x-position="before" class="cardWithShadow">
        <button mat-menu-item>Contact info</button>
        <button mat-menu-item>Mute</button>
        <button mat-menu-item>Delete chat</button>
      </mat-menu>
    </mat-toolbar>
    <!-- ------------------------------------------- -->
    <!-- chat content -->
    <!-- ------------------------------------------- -->
    <ng-scrollbar style="height: 310px" class="position-relative">
      <mat-card-content class="chat-middle-box p-24">
        @for(c of selectedMessage.chat; track c) {
        @if(c.type === 'odd') {
        <div class="chat-list odd">
          <div class="chat-message m-b-15">
            <div class="chat-block bg-light-primary p-10 rounded d-flex align-items-center">
              <span>
                <img src="{{ selectedMessage.photo }}" class="rounded-circle" width="40" />
              </span>
              <span class="m-l-16 mat-subheading-1 m-b-0 f-w-400 lh-md">{{
                c.msg
                }}</span>
            </div>
            <p class="chat-date text-muted mat-h5 f-s-12 m-t-5 m-b-0">
              {{ c.date | date }}
            </p>
          </div>
        </div>
        } @else {
        <div class="chat-list even">
          <div class="chat-message m-b-15">
            <div
              class="chat-block bg-light-accent lh-md p-10 rounded d-flex align-items-center mat-subheading-1 f-w-400 m-b-0">
              {{ c.msg }}
            </div>
            <p class="chat-date text-muted mat-h5 m-0">
              {{ c.date | date }}
            </p>
          </div>
        </div>
        }
        }
      </mat-card-content>
    </ng-scrollbar>
    <mat-divider></mat-divider> 
    <!-- ------------------------------------------- -->
    <!-- message bar  -->
    <!-- ------------------------------------------- -->
    <div class="p-t-20 p-l-30 p-r-30">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Message</mat-label>
        <input matInput placeholder="Send message" [(ngModel)]="msg" #myInput (keyup.enter)="OnAddMsg()" />
        <button mat-icon-button matSuffix color="primary" (click)="OnAddMsg()" [disabled]="!msg">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-sidenav-container> 
  


</mat-card>